*{
  margin:0;
  padding:0;
}

.container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(/src/images/banner-home.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
}

.row{
  background-color: white;
  width: 40%;
  height: 70%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 27px 41px -25px #d8d8d8;
}

.home-heading{
  text-align: center;
  padding: 38px 0px;
  margin: 0 auto;
  background-color: #f6f6f6;
  font-size: 25px;
  color: rgb(77, 67, 67);
  font-weight: 600;
}

ul a{
  list-style: none;
  text-decoration: none;
  color: rgb(77, 67, 67);
  font-size: 20px;
  
}

.home-listing {
  padding: 0px 40px;
  overflow-x: auto;
  height: 400px;
  margin-right: 7px;
}

ul li a{
  display: flex;
  padding: 8px 0px;
  border-bottom: 2px solid #ebebeb;
  align-items: center;
}

ul li{
  list-style: none;
}

li:last-child { border-bottom: none; }
ul img{
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #979696;
  border-radius: 30px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d8d6d6;
  border-radius: 30px;
}